node_modules/*
package-lock.json

obj/
bin/
.vscode/
*.csproj
backEnd/obj/project.assets.json
backEnd/obj/backEnd.csproj.nuget.cache
backEnd/obj/backEnd.csproj.nuget.g.props
backEnd/obj/Debug/netcoreapp2.0/backEnd.csproj.CoreCompileInputs.cache
