* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#dashboard-tile {
    height: 14em;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
}

#large-tiles {
    height: 30em;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    height: 100%;
}

.small-widget {
    height: 14em;
    margin: 0.5em;
    padding: 0.5em;
}

#tiles-div {
    margin-top: 15px;
    height: 25vh;
    width: auto;
    background: lightblue;
}
#graph-div {
    margin-top: 20px;
    height: 35vh;
    width: auto;
    background: blue;

}
#button {
    margin-top: 5px;
}

.widget-row {
    min-height: 20em
}

.dashboard-container {
    background-color: whitesmoke;
}

.dashboard-tile {
    padding: 2em;
    margin: 0.5em
}

#sidebar {
    width: 100%;
}

#logo {
    background: black;
    width: 100%;
    height: 30%;
}

#image {
    width: 120%;
    height: 50%;
}

#login-box {
    margin: 20px;
}
