* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#dashboard-tile {
    height: 14em;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
}

#large-tiles {
    height: 30em;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    height: 100%;
}

.small-widget {
    height: 14em;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
}
#tiles-div {
    margin-top: 15px;
    height: 25vh;
    width: auto;
    background: lightblue;
}
#graph-div {
    margin-top: 20px;
    height: 35vh;
    width: auto;
    background: blue;

}
#button {
    margin-top: 5px;
}
